@if (Combat != null && Combat.IsReady)
{
    <CascadingValue Value="this">
        <div class="combat @_targetPickingClass">
            <CombatView Combat=Combat />
        </div>
        <div class="action-prompt">@CurrentPrompt</div>
        <div class="control-surface">
            <div class="card-play-area"
                 @ondrop="HandleCardDrop"
                 ondragover="event.preventDefault();"
                 ondragstart="event.dataTransfer.setData('', event.target.id);">
            </div>
            <div class="actions-display">
                <span class="actions-total">@Player.Actions</span>/<span class="actions-max">@Player.ActionsMax</span>
            </div>
            <div class="hand-view @_targetPickingClass">
                @{
                    int index = 0;
                }
                @foreach (var card in Player.Hand)
                {
                    <div class="rotate-container @GetRotationStyle(index)">
                        <CardView Card=card />
                    </div>
                    index++;
                }
            </div>
            <button @onclick="EndTurn">END TURN</button>
        </div>
    </CascadingValue>
}